/* PC */
@media (min-width: 1024px){

}

/* Tablet && Mobile */
@media (max-width: 1023px) {
    .content-section .contact-address {
        line-height: 2;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){

}
/* Mobile */
@media (max-width: 739px) {

    .s-col-full {
        width: 100%;
        float: none;
    }

    .s-full-width {
        width: 100%;
    }
    
    #header {
        overflow: hidden;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
        padding: 5px 21px;
    }

    #nav .subnav a {
        color: #fff;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header .search-button{
        display: none;
    }

    #header .mobile-menu-button{
        display: block;
    }
    .tours-section .tours,
    #content .items-member {
        float: none;
        width: 100%;
    }

    #content .pic-member {
        width: 60%;
    }

    .content-section .contact-address {
        padding-bottom: 16px;
    }
}