*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    
}

.clear{
    clear: both;
}

.row {
    margin: 0 -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

/*Common*/

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
    list-style-type: none;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;

}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: #000;
}    

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-icon{
    font-size: 14px;
}
#header .mobile-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search-button{
    position: absolute;
    top: 0;
    right: 0;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    line-height: 46px;
    padding: 0 23px;
    display: inline-block;
}

#header .menu-icon:hover {
    background-color: #ccc;
    color: #000;
}

#header .search-icon:hover{
    cursor: pointer;
    background-color: #f44336;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../css/img_band/slider1.jpg')  top center / cover no-repeat;
    position: relative;
}


#slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 3px #000;
}

#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;
}

#content .section-heading{
    text-align: center;
    font-weight: 10;
    letter-spacing: 4px;
    font-size: 30px;
}

#content .section-sub-heading{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
}

#content .text-about{
    text-align: justify;
    margin-top: 15px;
    padding-bottom: 31px;
    font-size: 15px;
    line-height: 1.4;

}

#content .items-member{
    float: left;
    text-align: center;
    margin-top: 16px;
    width: 33.3333%;
}

#content .name-member{
    padding: 15px 0;
    font-size: 15px;
}

#content .pic-member{
    width: 154px;
    border-radius: 4px;
}

.tours-section{
    background-color: #000;
}

.tours-section .section-heading{
    color: #fff;
}

.tours-section .section-sub-heading{
    color: #fff;
}

.tours-section .tour-tickets{
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 16px;
    list-style: none;
}

.tours-section .tour-tickets li{
    padding: 8px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    line-height: 22px;
}

.tours-section .tour-tickets .sold-out{
    color: #fff;
    background-color: #f44336;
    margin-left: 16px;
    padding: 4px 8px 3px;
}

.tours-section .tour-tickets .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 50%;
    margin-right: 16px;

}

.tours-section .tours-pics{
    margin: 0 -8px;
}

.tours-section .tours{
    float: left;
    width: 33.333333%;
    padding: 16px 8px 0;
}

.tours-section .tour-pic{
    width: 100%;
    display: block; 
}

.tours-section .description-tour{
    background-color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 0 16px;
}

.tours-section .name-pic{
    margin: 15px 0;
    font-weight: 550;
}

.tours-section .date-pic{
    margin-bottom: 15px;
    opacity: 0.6;
}

.tours-section .description-pic{
    margin-bottom: 15px;
    line-height: 1.4;
}

.tours-section .buy-tickets{
    background-color: #000;
    color: #fff;
    margin-bottom: 16px;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.tours-section .buy-tickets:hover{
    background-color: #ccc;
    color: #000;
}

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-container .close-button{
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    padding: 16px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-container .close-button:hover{
    opacity: 1;
}

.modal-container .modal-header{
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container .bag-icon{
    margin-right: 16px;
}

.modal-container .modal-body{
    padding: 16px;
    font-size: 15px;
}

.modal-container .modal-label{
    display: block;
    
}

.modal-container .modal-input{
    display: block;
    margin: 8px 0 20px;
    padding: 8px;
    width: 100%;

}

.modal-container #modal-buy{
    width: 100%;
    line-height: 54px;
    background-color: #009688;
    color: #fff;
    border: none;
    opacity: 0.8;
    cursor: pointer;
}

.modal-container #modal-buy:hover{
    opacity: 1;
}

.modal-container .modal-footer{
    text-align: right;
    padding: 16px;
}

.modal-container .modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-section .contact-content {
    margin-top: 48px;
}

.content-section .contact-address {
    font-size: 18px;
    line-height: 1.5;
}

.content-section .col i[class*="ti-"] {
    padding-right: 12px;
}

.content-section .form-control {
    padding: 12px;
    border: rgb(204, 204, 204) solid 1px;
    margin-bottom: 8px;
    width: 100%;
}

.content-section .contact-form {
    font-size: 15px;
}

.contact-form .send-form {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    float: right;
    margin: 8px 0 16px;
    cursor: pointer;
    border: none;
     appearance: none;
    -webkit-appearance: none;
}

.contact-form .send-form:hover {
    background-color: #ccc;
    color: #000;
}

#content .map img{
    width: 100%;
}

#footer{
    text-align: center;
    padding: 64px 16px;
    background-color: rgb(241, 241, 241);
}

#footer .socials a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 22px;
}

#footer .socials a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin: 15px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
